$base-color: #636060;
$green: #499A18;
$light-green: #C1E698;
$grey-green: #D6E7D2;
$orange: #E06733;
$bg-section: #EDF2EC;
$links: #010201;
$grey: #717171;
$light-grey: #E3E1D5;
$nav: #010201;

$bg-green: #EDF2EC;
$desc: 1222px;